In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('Fitur_LBPuniform_Ikan.csv')

df.head()

,9323,7670,3810,2313,1690,1450,1390,1744,1818,2246,...,2088,1870,2251,2286,3249,4540,6821,12954,104300,0
0,8820,7629,3669,2388,1623,1531,1343,1646,1785,2211,...,1909,1810,2111,2218,3125,4585,6945,12943,105986,0
1,13101,6905,5009,3260,2465,1954,1690,1602,1610,1676,...,1692,1725,2019,2310,3281,4908,6899,13322,111351,0
2,12866,6717,5054,3392,2559,1972,1826,1736,1708,1882,...,1769,1856,2091,2523,3399,4871,6825,13230,109851,0
3,8157,6292,2910,1899,1423,1301,1084,1453,1767,2447,...,2172,1586,1908,2458,3705,5406,5382,13690,95304,0
4,7502,5732,3013,2073,1579,1501,1285,1630,2118,2808,...,2385,1756,2098,2560,3949,5365,4723,13295,89295,0

In [20]:
from sklearn import preprocessing
d = preprocessing.normalize(df,axis = 0)
scaled_df = pd.DataFrame(d)
scaled_df

KeyError: '0'

In [7]:
scaled_df['0'].value_counts()

KeyError: '0'

In [76]:
# spliting x
df['0'].value_counts()
x = df.drop(["0"], axis = 1)
x.head()

,9323,7670,3810,2313,1690,1450,1390,1744,1818,2246,...,2080,2088,1870,2251,2286,3249,4540,6821,12954,104300
0,8820,7629,3669,2388,1623,1531,1343,1646,1785,2211,...,1932,1909,1810,2111,2218,3125,4585,6945,12943,105986
1,13101,6905,5009,3260,2465,1954,1690,1602,1610,1676,...,1643,1692,1725,2019,2310,3281,4908,6899,13322,111351
2,12866,6717,5054,3392,2559,1972,1826,1736,1708,1882,...,1755,1769,1856,2091,2523,3399,4871,6825,13230,109851
3,8157,6292,2910,1899,1423,1301,1084,1453,1767,2447,...,2218,2172,1586,1908,2458,3705,5406,5382,13690,95304
4,7502,5732,3013,2073,1579,1501,1285,1630,2118,2808,...,2479,2385,1756,2098,2560,3949,5365,4723,13295,89295

In [ ]:
y = df['0']
y.head()
y.value_counts()

7    577
5    564
6    544
0    499
4    331
3    252
1    240
2    240
Name: 0, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 123)

In [ ]:
from sklearn.naive_bayes import GaussianNB
# Mengaktifkan/memanggil/membuat fungsi klasifikasi Naive Bayes
modelnb = GaussianNB()
# Memasukkan data training pada fungsi klasifikasi Naive Bayes
nbtrain = modelnb.fit(x_train, y_train)

In [ ]:
# Menentukan hasil prediksi dari x_test
y_pred = nbtrain.predict(x_test)

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[29, 15, 12,  2, 20,  3,  4,  2],
       [ 1, 28, 29,  0,  2,  0,  1,  1],
       [ 1,  8, 30,  0,  0,  0,  2,  1],
       [ 1,  4,  0,  7, 19,  4,  1,  6],
       [ 3,  6,  2,  9, 27,  3,  1,  9],
       [16, 16, 36, 13, 37,  5,  3,  3],
       [ 4, 22, 34, 12, 19,  3,  9,  6],
       [ 5, 20, 31, 17, 27,  3,  5, 11]], dtype=int64)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.48      0.33      0.39        87
           1       0.24      0.45      0.31        62
           2       0.17      0.71      0.28        42
           3       0.12      0.17      0.14        42
           4       0.18      0.45      0.26        60
           5       0.24      0.04      0.07       129
           6       0.35      0.08      0.13       109
           7       0.28      0.09      0.14       119

    accuracy                           0.22       650
   macro avg       0.26      0.29      0.21       650
weighted avg       0.28      0.22      0.19       650

In [ ]:
nbtrain.predict_proba(x_test)

array([[1.55816029e-01, 4.11629131e-06, 2.86261381e-08, ...,
        1.95286002e-03, 1.59967047e-01, 5.22909381e-01],
       [3.49651708e-01, 3.63155123e-15, 5.69635080e-24, ...,
        4.97925816e-04, 2.42940021e-01, 2.39963804e-01],
       [5.85015456e-06, 4.34565529e-32, 5.85139132e-49, ...,
        3.75664473e-05, 1.86915180e-02, 5.65877545e-03],
       ...,
       [7.87246120e-07, 2.73023245e-01, 7.26974771e-01, ...,
        5.35829740e-07, 8.67241721e-09, 6.52202827e-07],
       [1.88070201e-06, 1.82650523e-04, 9.99812576e-01, ...,
        2.82606239e-06, 3.32709654e-09, 6.31556259e-08],
       [1.75176623e-07, 1.82503289e-05, 9.99981546e-01, ...,
        2.78017529e-08, 1.01615156e-11, 2.71153784e-10]])

In [ ]:
file1 = open("myfile.txt","w")
L = ["This is Delhi \n","This is Paris \n","This is London \n"] 
  
# \n is placed to indicate EOL (End of Line)
file1.write(str(nbtrain.predict_proba(x_test)))

599

## NB + ADAPTIVE ##

In [78]:
df = pd.read_csv('Fitur_LBPuniform_Ikan.csv')
# spliting x
df['0'].value_counts()
x_adpt = df.drop(["0"], axis = 1)

y_adpt = df['0']

from sklearn.model_selection import train_test_split
x_traina, x_testa, y_traina, y_testa = train_test_split(x_adpt, y_adpt, test_size = 0.2, random_state = 123)

# import numpy as np
# x = np.array(nbtrain.predict_proba(x_test))
# dataset = pd.DataFrame({
#     'Column0': x[:, 0], 
#     'Column1': x[:, 1],
#     'Column2': x[:, 2],
#     'Column3': x[:, 3],
#     'Column4': x[:, 4],
#     'Column5': x[:, 5],
#     'Column6': x[:, 6],
#     'Column7': x[:, 7],
#     })
# dataset

In [81]:
ada_mod = AdaBoostClassifier(n_estimators=300, learning_rate=0.2)

ada_mod.fit(x_traina, y_traina)

x_adaptiveresult = ada_mod.predict_proba(x_test)

In [91]:
import numpy as np
x_adaptivetest = np.array(ada_mod.predict_proba(x_test))
dataset_test = pd.DataFrame({
    'Column0': x_adaptivetest[:, 0], 
    'Column1': x_adaptivetest[:, 1],
    'Column2': x_adaptivetest[:, 2],
    'Column3': x_adaptivetest[:, 3],
    'Column4': x_adaptivetest[:, 4],
    'Column5': x_adaptivetest[:, 5],
    'Column6': x_adaptivetest[:, 6],
    'Column7': x_adaptivetest[:, 7],
    })
dataset_test

,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7
0,0.120321,0.106565,0.136784,0.139828,0.083355,0.132211,0.139931,0.141004
1,0.145094,0.091090,0.034921,0.152365,0.144114,0.137480,0.144733,0.150205
2,0.132541,0.088507,0.032982,0.162163,0.148918,0.145433,0.145072,0.144385
3,0.138352,0.099564,0.006136,0.157622,0.165269,0.143110,0.145566,0.144381
4,0.144068,0.142974,0.142393,0.071031,0.089701,0.129300,0.139197,0.141336
...,...,...,...,...,...,...,...,...
645,0.134166,0.114271,0.036168,0.118038,0.149573,0.150382,0.146595,0.150808
646,0.138452,0.092202,0.006426,0.156407,0.173957,0.142721,0.144818,0.145017
647,0.137843,0.144720,0.142269,0.072892,0.092399,0.129678,0.139269,0.140929
648,0.142343,0.106721,0.117361,0.081106,0.103440,0.144844,0.152453,0.151733
649,0.144514,0.137047,0.144214,0.069942,0.090449,0.130713,0.140440,0.142682

In [90]:
x_adaptivetrain = np.array(ada_mod.predict_proba(x_train))
dataset_train = pd.DataFrame({
    'Column0': x_adaptivetrain[:, 0], 
    'Column1': x_adaptivetrain[:, 1],
    'Column2': x_adaptivetrain[:, 2],
    'Column3': x_adaptivetrain[:, 3],
    'Column4': x_adaptivetrain[:, 4],
    'Column5': x_adaptivetrain[:, 5],
    'Column6': x_adaptivetrain[:, 6],
    'Column7': x_adaptivetrain[:, 7],
    })
dataset_train

,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7
0,0.119968,0.097149,0.071030,0.147290,0.145120,0.140618,0.138794,0.140031
1,0.126160,0.147350,0.117684,0.085583,0.123445,0.132325,0.129339,0.138115
2,0.134149,0.138610,0.142242,0.074447,0.096825,0.131118,0.141127,0.141482
3,0.121273,0.122405,0.130536,0.085111,0.116371,0.145776,0.137076,0.141451
4,0.135318,0.086017,0.005506,0.178080,0.168114,0.140813,0.144498,0.141654
...,...,...,...,...,...,...,...,...
2592,0.129051,0.108452,0.130766,0.162174,0.024120,0.146762,0.150941,0.147734
2593,0.134642,0.091784,0.033008,0.158951,0.151640,0.144697,0.141286,0.143992
2594,0.143621,0.099592,0.121868,0.080054,0.102882,0.146872,0.151708,0.153402
2595,0.117668,0.092699,0.077628,0.145621,0.145797,0.140693,0.139687,0.140206
2596,0.146496,0.085480,0.017876,0.136763,0.139561,0.155463,0.161439,0.156921

## Naive BIYES ##

In [96]:
# Mengaktifkan/memanggil/membuat fungsi klasifikasi Naive Bayes
modelnb = GaussianNB()
# Memasukkan data training pada fungsi klasifikasi Naive Bayes
nbtrain = modelnb.fit(dataset_train, y_train)
y_pred = nbtrain.predict(dataset_test)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.31      0.24      0.27        87
           1       0.47      0.48      0.48        62
           2       0.19      0.52      0.28        42
           3       0.11      0.43      0.17        42
           4       0.20      0.42      0.27        60
           5       0.42      0.13      0.20       129
           6       0.35      0.12      0.18       109
           7       0.20      0.06      0.09       119

    accuracy                           0.24       650
   macro avg       0.28      0.30      0.24       650
weighted avg       0.30      0.24      0.22       650